@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Roboto', sans-serif;
  }
}

:root {
  --primary-color: rgba(237, 85, 59, 1);
  --gray-text: rgb(125, 135, 156);
}

* {
  box-sizing: border-box;
}

/* html {

} */

body {
  text-rendering: optimizeSpeed;
}
/* 
@layer components {
    * {
        @apply 
    }
} */

.half-underline {
  display: inline-block;
  background-image: linear-gradient(to right, currentColor, currentColor);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 50% 2px;
  padding-bottom: 0.25rem; /* 4px */
}

.slick-prev:before,
.slick-next:before {
  display: none !important;
}
/* 
.slick-prev .slick-next{
  padding: 30px;
} */

/* Btn animation */
.bubbly-button {
  font-family: 'Helvetica', 'Arial', sans-serif;
  display: inline-block;
  -webkit-appearance: none;
  appearance: none;
  background-color: #7d0600;
  color: #fff;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  position: relative;
  transition:
    transform ease-in 0.1s,
    box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgba(155, 0, 130, 0.25);

  &:focus {
    outline: 0;
  }

  &:before,
  &:after {
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
  }

  &:before {
    display: none;
    top: -75%;
    background-image: radial-gradient(circle, #7d0600 20%, transparent 20%),
      radial-gradient(circle, transparent 20%, #7d0600 20%, transparent 30%),
      radial-gradient(circle, #7d0600 20%, transparent 20%),
      radial-gradient(circle, #7d0600 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #7d0600 15%, transparent 20%),
      radial-gradient(circle, #7d0600 20%, transparent 20%),
      radial-gradient(circle, #7d0600 20%, transparent 20%),
      radial-gradient(circle, #7d0600 20%, transparent 20%),
      radial-gradient(circle, #7d0600 20%, transparent 20%);
    background-size:
      10% 10%,
      20% 20%,
      15% 15%,
      20% 20%,
      18% 18%,
      10% 10%,
      15% 15%,
      10% 10%,
      18% 18%;
    /* background-position: 0% 80%, -5% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 85% 30%; */
  }

  &:after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(circle, #7d0600 20%, transparent 20%),
      radial-gradient(circle, #7d0600 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #7d0600 15%, transparent 20%),
      radial-gradient(circle, #7d0600 20%, transparent 20%),
      radial-gradient(circle, #7d0600 20%, transparent 20%),
      radial-gradient(circle, #7d0600 20%, transparent 20%),
      radial-gradient(circle, #7d0600 20%, transparent 20%);
    background-size:
      15% 15%,
      20% 20%,
      18% 18%,
      20% 20%,
      15% 15%,
      10% 10%,
      20% 20%;
    /* background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%; */
  }

  &:active {
    transform: scale(0.9);
    background-color: darken(#7d0600, 5%);
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
  }

  &.animate {
    &:before {
      display: block;
      animation: topBubbles ease-in-out 0.75s forwards;
    }
    &:after {
      display: block;
      animation: bottomBubbles ease-in-out 0.75s forwards;
    }
  }
}

@keyframes topBubbles {
  0% {
    background-position:
      5% 90%,
      10% 90%,
      10% 90%,
      15% 90%,
      25% 90%,
      25% 90%,
      40% 90%,
      55% 90%,
      70% 90%;
  }
  50% {
    background-position:
      0% 80%,
      0% 20%,
      10% 40%,
      20% 0%,
      30% 30%,
      22% 50%,
      50% 50%,
      65% 20%,
      90% 30%;
  }
  100% {
    background-position:
      0% 70%,
      0% 10%,
      10% 30%,
      20% -10%,
      30% 20%,
      22% 40%,
      50% 40%,
      65% 10%,
      90% 20%;
    background-size:
      0% 0%,
      0% 0%,
      0% 0%,
      0% 0%,
      0% 0%,
      0% 0%;
  }
}

@keyframes bottomBubbles {
  0% {
    background-position:
      10% -10%,
      30% 10%,
      55% -10%,
      70% -10%,
      85% -10%,
      70% -10%,
      70% 0%;
  }
  50% {
    background-position:
      0% 80%,
      20% 80%,
      45% 60%,
      60% 100%,
      75% 70%,
      95% 60%,
      105% 0%;
  }
  100% {
    background-position:
      0% 90%,
      20% 90%,
      45% 70%,
      60% 110%,
      75% 80%,
      95% 70%,
      110% 10%;
    background-size:
      0% 0%,
      0% 0%,
      0% 0%,
      0% 0%,
      0% 0%,
      0% 0%;
  }
}

/* Typing */
.typing {
  width: 4em;
  height: 2em;
  position: relative;
  padding: 10px;
  background: #e6e6e6;
  border-radius: 15px;
}

.typing__dot {
  float: left;
  width: 8px;
  height: 8px;
  margin: 0 3px;
  background: #8d8c91;
  border-radius: 50%;
  opacity: 0;
  animation: loadingFade 1s infinite;
}

.typing__dot:nth-child(1) {
  animation-delay: 0s;
}

.typing__dot:nth-child(2) {
  animation-delay: 0.2s;
}

.typing__dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes loadingFade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

/* Scroll Hide */
.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}
